
body {
  background: rgb(3, 6, 8);
  color: whitesmoke;
}

.parallax {
  min-height: 100vh;
  min-width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
}

.paralimg1 {
  background-image: url("../img/nanosuitmjolnir.jpg");
}

.paralimg2 {
  background-image: url("../img/junglestealthgpost_ani.png");
}

.paralimg3 {
  background-image: url("../img/view2.jpg");
}

.paralimg4 {
  background-image: url("../img/jockeyscavengers.png");
}

.jumbotron {
  margin-bottom: 0;
}