@mixin overlay($ocolor, $opacity) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $ocolor, $alpha: $opacity);
  z-index: 2;
  display: inline-block;
}
