@import "mixins";

// Colors
$primary: #1d305a;
$secondary: #9dabb6;
$tertiary: #6388a6;
$black: #040404;

body {
  background: $primary;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.paralimg1 {
  background-image: url("../img/nanosuitmjolnir.jpg");
  position: relative;
  z-index: 0;

  .overlay {
    @include overlay($primary, 0.5);
  }
}

.paralimg2 {
  background-image: url("../img/junglestealthgpost_ani.png");
  position: relative;
  z-index: 0;
  .overlay {
    @include overlay($tertiary, 0.25);
  }
}

.paralimg3 {
  background-image: url("../img/view2.jpg");
  position: relative;
  z-index: 0;
  .overlay {
    @include overlay($tertiary, 0.25);
  }
}

.paralimg4 {
  background-image: url("../img/jockeyscavengers.png");
  position: relative;
  z-index: 0;
  .overlay {
    @include overlay($tertiary, 0.25);
  }
}

.footer {
  background-color: $primary;
  min-height: 15vh;
}

.navbar-brand {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.75rem;

  img {
    height: 75px;
    width: 75px;
    margin: 0;
    padding: 0;
  }
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}
.nav-link {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:hover {
  color: whitesmoke;
  border-bottom: 5px whitesmoke solid;
}
@media (max-width: 991px) {
  .navbar-brand {
    img {
      height: 150px;
      width: 150px;
    }
  }
}
@media (max-width: 489px) {
  .navbar-brand {
    display: none;
  }

  .navbar-nav {
    justify-content: center;
    text-align: center;
    margin: 0 auto li {
      margin: 5px 0;
    }
  }
}
