@import "mixins";

// Colors
$primary: #0c1425;
$secondary: #9dabb6;
$tertiary: #6388a6;
$black: #040404;

body {
  background: $primary;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.paralimg1 {
  background-image: url("../img/nanosuitmjolnir.jpg");
  position: relative;
  z-index: 0;

  .overlay {
    @include overlay($primary, 0.2);
  }
}

.paralimg2 {
  background-image: url("../img/junglestealthgpost_ani.png");
  position: relative;
  z-index: 0;
  .overlay {
    @include overlay($primary, 0.2);
  }
}

.paralimg3 {
  background-image: url("../img/view2.jpg");
  position: relative;
  z-index: 0;
  .overlay {
    @include overlay($primary, 0.2);
  }
}

.paralimg4 {
  background-image: url("../img/jockeyscavengers.png");
  position: relative;
  z-index: 0;
  .overlay {
    @include overlay($tertiary, 0.5);
  }
}

.navbar {
  height: 4.5rem;
  transition: all 0.25s;
}

.footer {
  background-color: $primary;
  // min-height: 10vh;
}

.navbar-brand {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.75rem;

  img {
    height: 75px;
    width: 75px;
  }
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.nav-link {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 5px transparent solid;
  text-shadow: 2px 2px $black;
  transition: all 0.25s;
}

.nav-link:hover {
  color: whitesmoke;
  border-bottom: 3px whitesmoke solid;
}

div .embed-responsive {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .navbar-brand {
    img {
      height: 150px;
      width: 150px;
    }
  }
}
@media (max-width: 489px) {
  .navbar-brand {
    display: none;
  }

  .navbar-nav {
    justify-content: center;
    text-align: center;
    margin: 0 auto li {
      margin: 5px 0;
    }
  }
}

// Utility Classes
