@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500,700");

// Colors
$primary: #0c1425;
$secondary: #9dabb6;
$tertiary: #6388a6;
$black: #040404;
$vgreen: rgb(48, 58, 43);

html,
body {
  background: $primary;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: "Orbitron", serif;
}

.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  @include overlay($vgreen, 0.5);
}

.paralimg1 {
  background-image: url("../img/nanosuitmjolnir.jpg");
  position: relative;
  z-index: 0;
}

.paralimg2 {
  background-image: url("../img/junglestealthgpost_ani.png");
  position: relative;
  z-index: 0;
}

.paralimg3 {
  background-image: url("../img/view2.jpg");
  position: relative;
  z-index: 0;
}

.paralimg4 {
  background-image: url("../img/jockeyscavengers.png");
  position: relative;
  z-index: 0;
}

.navbar {
  height: 3.75rem;
  transition: all 0.25s;
}

.navbar-brand {
  img {
    height: 45px;
    width: 45px;
  }
}

.navbar-nav > .nav-item {
  a {
    margin: 0 1rem;
    padding: 0 !important;
  }
}

.nav-link {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 900;
  text-shadow: 2px 2px 2px $black;
  transition: all 0.3s;
  border-bottom: 3px transparent solid;
  box-sizing: border-box;
}

.nav-link:hover {
  color: lighten($vgreen, 30%);
}

.active {
  border-bottom: 3px whitesmoke solid;
  box-shadow: 0 4px 2px -2px $black;
}

.active:hover {
  border-bottom: 3px lighten($vgreen, 30%) solid;
}

#social > a {
  margin: 0 0.425rem;
}

.footer {
  background-color: lighten($vgreen, 15%);
  font-size: 0.79rem;
  .container {
    .fcontent {
      display: flex;
      flex-wrap: wrap;
      p {
        width: 100%;
        padding: 0;
        margin: 0.7rem 0;
        text-shadow: 1px 1px 1px $black;
        a {
          color: white;
          text-decoration: underline;
          font-weight: bold;
        }
      }
    }
  }
}

// Utility Classes
